<html>
    <head>
        {% if title %}
        <title>{{ title }} - Microblog</title>
        {% else %}
        <title>Welcome to Microblog! </title>
        {% endif %}
    </head>
    <body>
        <div>
            <p>Microblog:
            <a href='/index'>Home</a>
            <a href='/login'>Login</a>
            </p>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %} <!-- returns a list of all the messages that have been registered with flash() -->
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ messsage }} </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %} <!-- derived templates will be inserted after this line-->
        {% endblock%}
    </body>
</html>